@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    font-family: 'Jetbrains Mono', monospace;
}

body {
    text-align: center;
}

h1 {
    color: #00AA45;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}